<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>초록:인증 메일</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">

    </style>
</head>
<body>

                            <p style="font-size: 15px; margin-left: 10px;">안녕하세요, 초록(Chorok)입니다.
                                <br/>아래 <span style="color:#0AAF42; font-weight: bold;">'비밀번호 재설정'</span> 버튼을 눌러 비밀번호를 변경해주세요.<br/><br>감사합니다!</p>
                            <a th:href="@{${link}}">
                                <p style="display: block; width: 136px; height: 54px; margin-top: 28px;margin-left: 10px;margin-bottom: 72px;margin-right: auto; border-radius: 10px;background-color: #0AAF42; color:#ffffff; line-height: 54px; text-decoration: none; text-align: center;">비밀번호 재설정</p>
                            </a>

</body>
</html>